<template>
    <div class="container my-5">
        <h2>Restaurantes</h2>

        <div class="row">
            <div
                class="col-md-4 mt-4"
                v-for="restaurante in restaurantes"
                :key="restaurante.id"
            >
                <div class="card">
                    <img
                        class="card-img-top"
                        :src="`storage/${restaurante.imagen_principal}`"
                        :alt="restaurante.nombre"
                    />
                    <div class="card-body">
                        <h3 class="card-title text-primary font-weight-bold">
                            {{ restaurante.nombre }}
                        </h3>
                        <p class="card-tex">{{ restaurante.direccion }}</p>
                        <p class="card-tex">
                            <span class="font-weight-bold">Horario:</span>
                            {{ restaurante.apertura }} -
                            {{ restaurante.cierre }}
                        </p>
                        <router-link
                            :to="{
                                name: 'establecimiento',
                                params: { id: restaurante.id }
                            }"
                        >
                            <a href class="btn btn-primary d-block"
                                >Ver Lugar</a
                            >
                        </router-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    mounted() {
        axios.get("/api/categoria/restaurante").then(respuesta => {
            this.$store.commit("AGREGAR_RESTAURANTES", respuesta.data);
        });
    },
    computed: {
        restaurantes() {
            return this.$store.state.restaurantes;
        }
    }
};
</script>

<style scoped></style>
