<template>
    <div class="container my-5">
        <h2>Bares</h2>

        <div class="row">
            <div class="col-md-4 mt-4" v-for="bar in bares" :key="bar.id">
                <div class="card">
                    <img
                        class="card-img-top"
                        :src="`storage/${bar.imagen_principal}`"
                        :alt="bar.nombre"
                    />
                    <div class="card-body">
                        <h3 class="card-title text-primary font-weight-bold">
                            {{ bar.nombre }}
                        </h3>
                        <p class="card-tex">{{ bar.direccion }}</p>
                        <p class="card-tex">
                            <span class="font-weight-bold">Horario:</span>
                            {{ bar.apertura }} - {{ bar.cierre }}
                        </p>
                        <router-link
                            :to="{
                                name: 'establecimiento',
                                params: { id: bar.id }
                            }"
                        >
                            <a href class="btn btn-primary d-block"
                                >Ver Lugar</a
                            >
                        </router-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    mounted() {
        axios.get("/api/categoria/bar").then(respuesta => {
            this.$store.commit("AGREGAR_BARES", respuesta.data); // pasar los datos al state
        });
    },
    computed: {
        bares() {
            return this.$store.state.bares; // obtenido los resultados del state
        }
    }
};
</script>

<style scoped></style>
