<template>
    <div>
        <listado-categorias></listado-categorias>
        <mapa-establecimientos></mapa-establecimientos>
        <categoria-bar></categoria-bar>
        <categoria-restaurante></categoria-restaurante>
        <categoria-hotel></categoria-hotel>
    </div>
</template>

<script>
import ListadoCategorias from "./ListadoCategorias";
import MapaEstablecimientos from "./MapaEstablecimientos";
import CategoriaBar from "./CategoriaBar";
import CategoriaRestaurante from "./CategoriaRestaurante";
import CategoriaHotel from "./CategoriaHotel";

export default {
    components: {
        ListadoCategorias,
        MapaEstablecimientos,
        CategoriaBar,
        CategoriaRestaurante,
        CategoriaHotel
    }
};
</script>

<style lang="scss" scoped></style>
